# Xcode
build/
DerivedData/
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Swift Package Manager
.build/
Packages/
Package.resolved

# Test files
test*.swift
NotchMusic/NotchMusic/Secrets.xcconfig

# Release artifacts
*.zip
